<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header card-header-text card-header-primary">
        <div class="card-text">
          <h4 class="card-title">Erstelle neues Feedback</h4>
        </div>
      </div>
      <div class="card-body">
        Füllt bitte die Felder vollständig aus, damit im Nachgang eindeutig erkennbar ist. Warum es inhaltlich geht. Außer das Freitextfeld sind alle Felder Pflichtfelder!
      </div>
    </div>
  </div>
</div>

<form>
  <div class="row gap-y">
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="form-group">
          <label for="lineid">Line-ID</label>
          <input class="form-control" id="lineid">
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Stärke der Störung:</label>
        <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect1">
          <option value=""selected>auswählen</option>
          <option value="ständig">ständig</option>
          <option value="häufig (jeden Tag)">häufig (jeden Tag)</option>
          <option value="machmal (1-2 x pro Woche)">machmal (1-2 x pro Woche)</option>
          <option value="selten (1-2 x pro Monat)">selten (1-2 x pro Monat)</option>
          <option value="Anderes">Anderes</option>
        </select>
      </div>
      <div class="form-group">
        <label for="RESOLVED_CI">Wo wurde die Störung behoben:</label>
        <select class="form-control selectpicker" name="RESOLVED_CI" id="RESOLVED_CI">
          <option value="" selected>auswählen</option>
          <option value="IAD / Router / Kabel zum IAD">IAD / Router / Kabel zum IAD</option>
          <option value="KVZ / Kabel zum KVZ">KVZ / Kabel zum KVZ</option>
          <option value="APL / Kabel zum APL">APL / Kabel zum APL</option>
          <option value="TAE / Kabel zur TAE">TAE / Kabel zur TAE</option>
          <option value="Heimnetz">Heimnetz</option>
          <option value="Power LAN">Power LAN</option>
          <option value="MSAN">MSAN</option>
          <option value="Line-Card">Line-Card</option>
          <option value="Client (Handy, PC, ….)">Client (Handy, PC, ….)</option>
          <option value="Anderer Anschluss (Nachbar)">Anderer Anschluss (Nachbar)</option>
          <option value="Andere Betriebseinheit">Andere Betriebseinheit</option>
          <option value="kein Fehler gefunden">kein Fehler gefunden</option>
          <option value="ASSIA">ASSIA</option>
          <option value="Anderes">Anderes</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="exampleFormControlSelect2">Auswirkung der Störung (Vor Ort festgestellt):</label>
        <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect2">
          <option value="" selected>auswählen</option>
          <option value="Totalausfall">Totalausfall</option>
          <option value="Internet Ausfall">Internet Ausfall</option>
          <option value="Internet zu langsam">Internet zu langsam</option>
          <option value="Entertain Ausfall">Entertain Ausfall</option>
          <option value="Entertain Bild/Tonqualität">Entertain Bild/Tonqualität</option>
          <option value="Telefonie Ausfall/Qualität">Telefonie Ausfall/Qualität</option>
          <option value="WLAN Problem">WLAN Problem</option>
          <option value="Anderes">Anderes</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect3">Auswirkung der Störung (Vor Ort festgestellt):</label>
        <select class="form-control selectpicker" data-style="btn btn-link" id="exampleFormControlSelect3">
          <option value="" selected>auswählen</option>
          <option value="Fix Verkabelung">Fix Verkabelung</option>
          <option value="Konfiguration">Konfiguration</option>
          <option value="Gleichtausch(Endgerätetausch 1:1)">Gleichtausch(Endgerätetausch 1:1)</option>
          <option value="Ungleichtausch(Endgerät)">Ungleichtausch(Endgerät)</option>
          <option value="Beseitigung Störer">Beseitigung Störer</option>
          <option value="Reset">Reset</option>
          <option value="SW Update">SW Update</option>
          <option value="PTI-Einbindung">PTI-Einbindung</option>
          <option value="NSO-Einbindung">NSO-Einbindung</option>
          <option value="kein Fehler gefunden">kein Fehler gefunden</option>
          <option value="Anderes">Anderes</option>
        </select>
      </div>
      <div class="form-group">
        <label for="KNOWN_ERROR">War das ein bekannter Fehler:</label>
        <select class="form-control selectpicker" name="KNOWN_ERROR" id="KNOWN_ERROR">
          <option value="" selected>auswählen</option>
          <option value="Stichleitung">Stichleitung</option>
          <option value="WLAN">WLAN</option>
          <option value="Router defekt">Router defekt</option>
          <option value="Kontakte TAE">Kontakte TAE</option>
          <option value="Kontakte KVZ">Kontakte KVZ</option>
          <option value="IAD nicht kompatibel">IAD nicht kompatibel</option>
          <option value="Port Tausch">Port Tausch</option>
          <option value="Port Reset">Port Reset</option>
          <option value="Ersteinrichtung">Ersteinrichtung</option>
          <option value="Störer">Störer</option>
          <option value="Power LAN">Power LAN</option>
          <option value="neuer Fehler">neuer Fehler</option>
          <option value="siehe Freitext">siehe Freitext</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-group">Freitext</i>
      </span>
        </div>
        <textarea type="text" class="form-control" placeholder="Freitextfeld" rows="3"></textarea>
      </div>
    </div>
    <small id="emailHelp" class="form-text text-muted text-danger">Es ist zu beachten das keine persönlichen Kundendaten hier dokumentiert werden dürfen</small>
  </div>
  <div class="form-group">
    <!-- Standard Button -->
    <button type="submit" class="btn btn-primary center">
      Speichern
    </button>
  </div>

</form>
