<div class="row">
  <div class="col-md-6">
    <h3>Reactive - Auswahl Textfelder festlegen</h3>
    <form (ngSubmit)="onSubmit(result)" #result="ngForm">

        <div class="form-group label-floating" [ngClass]="{'has-success': result.valid, 'has-danger': result.invalid }">
          <label class="control-label" for="input">Stärke der Störung</label>
          <input type="text" value="" id="input" name="input" class="form-control"
                 [ngModel]="incident"
                 required="required"
                 #input="ngModel"
          />
          <span class="form-control-feedback">
          <i class="material-icons"
             *ngIf="result.valid"
          >done</i>
          <i class="material-icons"
             *ngIf="!result.valid"
          >clear</i>
        </span>
        </div>
        <div *ngIf="!input.valid">Text Eingabe ungültig</div>

      <div class="form-check form-check-radio form-check-inline" *ngFor="let g of genders">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="gender" id="gender"
          [value]="g"
          ngModel
          >{{ g }}
          <span class="circle">
        <span class="check"></span>
    </span>
        </label>
      </div>
        <br>
        <button type="submit" class="btn btn-info" [disabled]="!result.valid">Speichern</button>

    </form>
  </div>

</div>


