<div *ngIf="report">
  <h1>{{ report.lineId }}</h1>
  <h3 *ngIf="report.incidentType">{{ report.incidentType }}</h3>
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
      <h4>Autor</h4>
      <ng-container>
        {{ report.author }}<br>
      </ng-container>
    </div>
    <div class="four wide column">
      <h4>Stärke der Störung</h4>
      {{ report.incidentSeverity }}
    </div>
    <div class="four wide column">
      <h4>Erschienen</h4>
      {{ report.published | date }}
    </div>
    <div class="four wide column">
      <h4>Rating</h4>
      <i class="yellow star icon"
      *ngFor="let p of getRating(report.rating)"></i>
    </div>
  </div>
  <h4>Beschreibung</h4>
  <p>{{ report.freeText }}</p>
  <div class="ui small images">
    <img *ngFor="let thumbnail of report.thumbnails"
         [src]="thumbnail.url">
  </div>
</div>
