<div *ngIf="report; else loading">
  <h1>Lfd-Nr.{{ report.id }}</h1>
  <div class="ui divider"></div>
  <div class="ui grid">
    <div class="four wide column">
      <h4 class="font-weight-bold">Autor</h4>
        {{ report.author }}
    </div>
    <div class="four wide column">
      <h4 class="font-weight-bold">LineID</h4>
      {{ (report.lineId)}}
    </div>
    <div class="four wide column">
      <h4 class="font-weight-bold">Erschienen</h4>
      {{ report.published | date: ('dd.MM.yyyy') }}
    </div>
    <div class="four wide column" hidden>
      <h4 class="font-weight-bold">Rating</h4>
      <i class="yellow star icon"
         *ngFor="let r of getRating(report.rating)"></i>
    </div>
  </div>

  <div class="ui grid">
    <div class="four wide column">
      <h4 class="font-weight-bold">War das ein bekannter Fehler?</h4>
      {{ report.knownError }}
    </div>
    <div class="four wide column">
      <h4 class="font-weight-bold">Wie wurde die Störung behoben?</h4>
      {{ (report.attr)}}
    </div>
    <div class="four wide column">
      <h4 class="font-weight-bold">Auswirkung der Störung (Vor Ort festgestellt)</h4>
      {{ (report.incidentType)}}
    </div>
    <div class="four wide column">
      <h4 class="font-weight-bold">Wo wurde die Störung behoben?</h4>
      {{ (report.resolvedCi)}}
    </div>
  </div>


  <br>
  <h4 class="font-weight-bold">Beschreibung</h4>
  <p>{{ report.freeText}}</p>

    <div class="card" style="width: 10rem;">
      <!--<img class="card-img-top ui "
           [src]="report.thumbnails.url">-->
      <img *ngFor="let thumbnail of report.thumbnails"
           [src]="thumbnail.url">
      <div class="card-body" style="background-color: #eee">
        <!--<p class="card-text">{{ report.thumbnails.title}}</p>-->
      </div>
    </div>
  <div class="ui small images">
    <!--<img *ngFor="let thumbnail of report.thumbnails"
         [src]="thumbnail.url">-->

  </div>
  <button class="ui tiny red labeled icon button"
         (click)="removeReport()" >
    <i class="remove icon"></i> Report löschen
  </button>
</div>


<ng-template #loading>
  <div class="ui active centered inline loader"></div>
</ng-template>
